* {
  margin: 0;
  padding: 0;
}

.bodyWrapper {
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
}

.mainWrapper {
  background-color: rgb(125, 125, 77);
  width: 70vw;
  align-items: center;
  object-position: center;
  margin: 0 auto;
  margin-top: 80px;
}

.topHeader {
  width: 70vw;
  height: 9vh;
  min-height: 35px;
  display: flex;
  background: rgb(227, 227, 227);
  flex-direction: row;
  align-items: center;
  object-position: center;
  flex-direction: row;
  justify-content: space-between;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
}

.headerImage {
  width: 15vw;
}

.searchDiv {
  display: flex;
  width: 40vw;
}

.searchInput {
  width: 25vw;
  text-align: center;
  border-radius: 20px;
}

.searchBtn {
  display: flex;
  width: 80px;
  border-radius: 20px;
  margin-left: -20px;
}

.searchBtn img {
  width: 100%;
  height: 20px;
  position: relative;
}

.favoriteList,
.dayMode {
  border: unset;
  background-color: inherit;
  display: inline;
  position: relative;
  right: 20px;
  margin-left: 20px;
}

.favoriteList img,
.dayMode img {
  width: 23px;
  height: 25px;
  display: flex;
  align-items: center;
  object-position: center;
}

.favoriteList img:active {
  filter: brightness(0.8);
}

.dayMode img {
  width: 40px;
}

.favDay {
  display: flex;
  padding: 10px;
}

.favDay button {
  margin-right: 10px;
}

.bodyDiv {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
    height: 100%;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background: white;
  align-items: center;
  object-position: center;
}


.itemMenu {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-position: center;
  background: rgb(227, 227, 227);
}

.copywriteList {
  position: relative;
  top: 80%;
  left: 10px;
}

.copywriteList p {
  color: rgb(141, 141, 141);
  font-size: 14px;
}

.recepieList {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  object-position: center;
}

.recepieListA {
  text-decoration: none;
  color:rgb(226, 116, 20);
  text-align: center;
}

.recepieListImg img {
  display: flex;
  height: 80%;
  width: 80%;
  border-radius: 60%;
  transform: translate(12%, -1%);
}

.recipeListBtn {
  display: flex;
  align-items: center;
  object-position: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid;
}

.recipeListBtn:active {
  background-color: rgb(200, 200, 200);
}

.loadingImg img {
  width: 150px;
  position: relative;
}

.resultPages {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
  
}

.pageBtn {
  width: 35%;
  font-size: 9px;
}

.nextPageBtn {
  align-self: flex-end;
}

.prevPageBtn {
  align-self: flex-start;

}

.itemIgnPic {
  display: flex;
  align-items: center;
  object-position: center;
  text-align: center;
  flex-direction: column;
}

.itemIgnPic img {
  width: 80%;
  margin-bottom: 20px;
}

.ingridientList {
  flex-direction: column;
  margin-top: 10px;
}

.ingridient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ingridient h4 {
  margin-right: 5vw;
  margin-left: 20px;
  color: rgb(200, 98, 26);
  border-bottom: 1px solid ;
  
}

.ingridient p {
  border: 1px solid black;
  width: 60px;
}

.itemIngName {
  color: rgb(200, 98, 26);
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px;
  background-color: #fff
};

.servingsPerson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.servingsPerson div {
  display: inline;
}

.timeToCook img:only-child {
  width: 20px;
  position: relative;
  top: 23px;
  right: 2px;
}

.timeToCook {
   margin-right: 80px;
   display: flex;
   align-items: center;
   flex-direction: row;
}

.servings img:only-child {
  width: 25px;
  position: relative;
  top: 23px;
  right: -2px;
}

.shoppingList img {
  width: 70%;
  height: 6%;
  max-width: 100px;
  max-height: 30px;
  min-height: 20px;
}